<div id="home">
  {{!-- NAV BAR AO--}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Log In/Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results">Search/Saved Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
      </div>
  </nav>
  {{!-- Jumbotron, contains title and dog image AO --}}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
      <h1 class="display-6">Dog Catcher</h1>
      </div>
      </div>
      {{!-- dog image elements AO--}}
        <div class="container2">
          <div class="row">
		      <div class="dog">
			      <div class="dog-head">
				    <div class="dog-ears ears-left"></div>
				    <div class="dog-ears ears-right"></div>
				    <div class="dog-eyes"></div>
				    <div class="dog-mouth">
				    <div class="dog-nose"></div>
				    <div class="dog-tongue"></div>
			    </div>
		    </div>
			      <div class="dog-tail"></div>
			      <div class="dog-body">
			      <div class="dog-foot"></div>
		      </div>
			  <div class="ball"></div>
		  </div>
	  </div>
  </div>
 </div>
 </div>

    {{!-- Search forms AO--}}
    {{!-- Quick Search for Zip Code, element id=Submit Zip AO--}}
  
    
      <h2>Let's Play Catch!</h2>
      <form>
    <div class="form-group">
        <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-2">
      <h5>Quick Search for a dog near you</h5>
      <input type="text" class="form-control" id="InputZip" placeholder="Zip Code">
      {{!-- <button type="submit" class="btn btn-primary" id="basicSubmit">Submit</button> --}}
      </div>
      </div>
  </form>
  
{{!-- hidden advanced search, element ids are = SubmitZip, SearchInputSize, SearchInputSex, SearchInputAge, SearchInputBreed AO--}}
  <div class="form-group2">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-2">
      <br>
        <h5>Advanced Search - locate your Perfect Match</h5>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Advanced Search</button>
      <div id="demo" class="collapse">
        <form>

          <div class="form-group">
            {{!-- <input type="text" class="form-control" id="SubmitZipAdvanced" placeholder="Zip Code"> --}}
          <div id="breeds">
            <select id="breeds-drop" class="custom-select">
              <option selected value="">Select a Breed</option>
            </select>
          </div>

          <label for="sizes-drop"><h6>Size</h6></label>
            <select class="form-control" id="sizes-drop">
              <option selected value="">Choose a Size...</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sexes-drop"><h6>Sex</h6></label>
              <select class="form-control" id="sexes-drop">
                <option selected value="">Choose a Sex...</option>
              </select>
            </div>

          <div class="form-group">
            <label for="ages-drop"><h6>Age</h6></label>
              <select class="form-control" id="ages-drop">
                <option selected value="">Choose an Age...</option>
            </select>
          </div>

            
      </form>
      
    </div>
    <button type="submit" class="btn btn-primary" id="SubmitZip">Submit</button>
  </div>
  </div>
  </div>

  {{!-- attempt at adding search results in handlebars --}}
    <section id="results-container">
    <div id="results">
      {{!-- <h2>Your Matches!</h2> --}}
      {{#each dog}}
      <div class="dog">
        <form class="results-form" action="/{{id}}?_method=PUT" method="POST">
        </form>
        {{dog_name}} <span>#{{id}}</span>
      </div>
      {{/each}}
    </div>
    </section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
