<div id="users">
  
 <h2>Log In/Sign Up</h2>
    <form>
      <div class="login-signup">
        {{!-- <div class="form-group"></div> --}}
         <label for="exampleInputUsername1"><h5>Username</h5></label>
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
            <br>
          <label for="exampleInputEmail1"><h5>eMail</h5></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        {{!-- </div> --}}
        {{!-- <div class="form-group"> --}}
          <br>
          <label for="exampleInputPassword1"><h5>Password</h5></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <br>
            <button type="submit" class="btn btn-primary" id="SubmitUser">Submit</button>
        {{!-- </div> --}}
      </div>
    </form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>